In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

# Donnees synthetiques github
Du 01-Mai-2024

In [2]:
url_antennes = 'https://raw.githubusercontent.com/GUISSTANN/features/main/data/antennes/antennes.csv'
url_mobile = 'https://raw.githubusercontent.com/GUISSTANN/features/main/data/data_mobile/data.csv'
url_recharges = 'https://raw.githubusercontent.com/GUISSTANN/features/main/data/recharges/recharges.csv'
url_transaction = 'https://raw.githubusercontent.com/GUISSTANN/features/main/data/transactions/om.csv'
url_voixsmsoffnet = 'https://raw.githubusercontent.com/GUISSTANN/features/main/data/voix_sms/voix_sms_offnet.csv'
url_voixsmsonnet = 'https://raw.githubusercontent.com/GUISSTANN/features/main/data/voix_sms/voix_sms_onnet.csv'

list_lien = [url_antennes, url_mobile, url_recharges, url_transaction, url_voixsmsoffnet, url_voixsmsonnet]
list_donnees = ['Antennes', 'Mobile Data', 'Recharges', 'Transactions', 'Voix SMS Off Net', 'Voix SMS On Net']

In [3]:
# Overview

for base, lien in zip(list_donnees, list_lien):
    print('='*50)
    print(base)
    df = pd.read_csv(lien)
    print(base, ':', df.shape)
    print(df.head())
    print('\n'*2)

==================================================
Antennes
Antennes : (1000, 5)
   Unnamed: 0         ms_location   latitude  longitude  \
0         521  608-01-19082-00011  14.848686 -15.847600
1         737  608-01-03012-30391  14.515319 -16.942597
2         740  608-01-03012-41877  14.426692 -16.994680
3         660  608-01-00818-00001  16.028762 -16.508092
4         411  608-01-09022-43213  13.124078 -13.680762

                              localite
0                NDAME/MBACKE/DIOURBEL
1                   SINDIA/MBOUR/THIES
2            SALY PORTUDAL/MBOUR/THIES
3  SAINT LOUIS/SAINT LOUIS/SAINT-LOUIS
4             BONCONTO/VELINGARA/KOLDA



==================================================
Mobile Data
Mobile Data : (1000, 6)
   Unnamed: 0     volume                            msisdn  \
0         521  11.020743  58982635729b45727700229a70ae85e5
1         737   0.027277  b8b9dc654da68fc4a748d3df03a7046a
2         740   0.000000  31a3fa5ccc585b9d2be69569b69e76b9
3         660   0.000000  3fe68455383e037e757db7873979989c
4         411   0.093000  15a5bf5eb2e4effcaea6a3ab479dc30f

          ms_location  call_date  call_time
0  608-01-00354-00010   20211118     170023
1  608-01-09040-24955   20211118      62353
2  608-01-00983-00001   20211118     140528
3  608-01-01092-00006   20211118     192427
4  608-01-00061-00006   20211118     160516



==================================================
Recharges
Recharges : (1000, 6)
   Unnamed: 0      type_rechargement                            msisdn  \
0         521        Recharge via OM  cf506ba2da0950fbf04bc219ab1277f1
1         737     Recharge via Seddo  a717dc521f7c6ec14947cf61b0701560
2         740        Recharge via OM  fb74722dd297a8c159f248cfd5e5c5f1
3         660  Pass Glob via OM Jour  db83248589b0b4895d3f040a77a01d9a
4         411     Recharge via Seddo  d1482d831cd8d2e3ece1ceb9f9fb5e6e

   call_event_date  cost                      localite
0         20220226    50        OUROSSOGUI/MATAM/MATAM
1         20220219  1500     DAKAR PLATEAU/DAKAR/DAKAR
2         20220124  5000       GRAND DAKAR/DAKAR/DAKAR
3         20210908  2000     DAKAR PLATEAU/DAKAR/DAKAR
4         20211210  2000  BANDAFASSI/KEDOUGOU/KEDOUGOU



==================================================
Transactions
Transactions : (1000, 7)
   Unnamed: 0 direction                            msisdn  transfer_date  \
0         521       OUT  698af5af25e435f0b0b129397d2d9b58       20220321
1         737        IN  7629afa5c8148d6ab12998041bfa46de       20220403
2         740        IN  683f8b2f9b3f00f44709fa4a43287db4       20210804
3         660       OUT  c44f01179a6816b7ee5acba21f0e2880       20220309
4         411       OUT  d18f615efcf8fa7ccd192d812f76f9b2       20220102

   transfer_time  transaction_amount                      localite
0         224508              5000.0  BANDAFASSI/KEDOUGOU/KEDOUGOU
1         153342               500.0       KAOLACK/KAOLACK/KAOLACK
2          92520             10100.0                           NaN
3         104632             10000.0         THIAROYE/PIKINE/DAKAR
4         142126              4500.0         THIAROYE/PIKINE/DAKAR



==================================================
Voix SMS Off Net
Voix SMS Off Net : (1000, 8)
   Unnamed: 0 traffic_type traffic_direction  \
0         521         VOIX           ENTRANT
1         737         VOIX           SORTANT
2         740         VOIX           SORTANT
3         660         VOIX           SORTANT
4         411         VOIX           SORTANT

                             msisdn  call_date  call_time  duree  ms_location
0  d65862c2b2c34aefb070a708718426b3   20210831     155425   35.0          NaN
1  5757c99a52d73d9b3e563a0046add2ee   20210927      84858  105.0          NaN
2  ed36b9182948943432386fa422a084b1   20210927      93346  110.0          NaN
3  bdc6d7893af482720b45eb6258f07fd3   20210924     105042   21.0          NaN
4  fe090e5a588ca62bdbff8e807d04e475   20210816     125249  138.0          NaN



==================================================
Voix SMS On Net
Voix SMS On Net : (1000, 8)
   Unnamed: 0 traffic_type traffic_direction  \
0         521         VOIX           SORTANT
1         737         VOIX           ENTRANT
2         740         VOIX           ENTRANT
3         660         VOIX           SORTANT
4         411         VOIX           ENTRANT

                             msisdn  call_date  call_time  duree  \
0  5634d3960f5dbf326b2eb01e1cf66124   20210720     180146  182.0
1  a0c8f562a4abc89230b30a30409f69bc   20210720      72925  116.0
2  86b09e4ed3f30d94853e413451f1a69b   20210720     103649   39.0
3  b58b587be09e5c1963bf4deba19597cc   20210720     213222    2.0
4  907d1610586c9337c2b19b00eca3bc79   20210720     230420  287.0

          ms_location
0  608-01-09020-30101
1  608-01-09040-25025
2  608-01-09028-02017
3  608-01-09000-36753
4  608-01-09000-03947

# Mise a jour
Date: 01-Mai-2024

In [4]:
# Mobile Data
df = pd.read_csv(url_mobile)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   volume       1000 non-null   float64
 2   msisdn       1000 non-null   object
 3   ms_location  1000 non-null   object
 4   call_date    1000 non-null   int64
 5   call_time    1000 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 47.0+ KB

**Decision :** Structure conforme!

In [5]:
# Recharges
df = pd.read_csv(url_recharges)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   type_rechargement  1000 non-null   object
 2   msisdn             1000 non-null   object
 3   call_event_date    1000 non-null   int64
 4   cost               1000 non-null   int64
 5   localite           1000 non-null   object
dtypes: int64(3), object(3)
memory usage: 47.0+ KB

**Decision :** Structure conforme!

In [6]:
# Transactions
df = pd.read_csv(url_transaction)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1000 non-null   int64
 1   direction           1000 non-null   object
 2   msisdn              1000 non-null   object
 3   transfer_date       1000 non-null   int64
 4   transfer_time       1000 non-null   int64
 5   transaction_amount  1000 non-null   float64
 6   localite            681 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

**Decision :** create caller_msisdn and corresp_msisdn and drop msisdn

In [7]:
df['caller_msisdn'] = df['msisdn']
df['corresp_msisdn'] = df['msisdn'].sample(frac=1).reset_index(drop=True) # Shuffle initial id
df.drop(columns='msisdn', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1000 non-null   int64
 1   direction           1000 non-null   object
 2   transfer_date       1000 non-null   int64
 3   transfer_time       1000 non-null   int64
 4   transaction_amount  1000 non-null   float64
 5   localite            681 non-null    object
 6   caller_msisdn       1000 non-null   object
 7   corresp_msisdn      1000 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 62.6+ KB

In [8]:
df.to_csv('../data/transactions/omv-v02.csv')

In [9]:
df.head()

,Unnamed: 0,direction,transfer_date,transfer_time,transaction_amount,localite,caller_msisdn,corresp_msisdn
0,521,OUT,20220321,224508,5000.0,BANDAFASSI/KEDOUGOU/KEDOUGOU,698af5af25e435f0b0b129397d2d9b58,b5333738f975f816fe2fc6013299b602
1,737,IN,20220403,153342,500.0,KAOLACK/KAOLACK/KAOLACK,7629afa5c8148d6ab12998041bfa46de,ebd8a25f41ac9f21760a47a37483f385
2,740,IN,20210804,92520,10100.0,NaN,683f8b2f9b3f00f44709fa4a43287db4,b612c12c1a2fa9091b1e890e2c0cc78b
3,660,OUT,20220309,104632,10000.0,THIAROYE/PIKINE/DAKAR,c44f01179a6816b7ee5acba21f0e2880,fc19e9a07fca9ee95b82e18dbac0f8d7
4,411,OUT,20220102,142126,4500.0,THIAROYE/PIKINE/DAKAR,d18f615efcf8fa7ccd192d812f76f9b2,c6769dc085151b9e7e873f39561fc4cf

In [10]:
# Voix SMS
df = pd.read_csv(url_voixsmsoffnet)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   traffic_type       1000 non-null   object
 2   traffic_direction  1000 non-null   object
 3   msisdn             1000 non-null   object
 4   call_date          1000 non-null   int64
 5   call_time          1000 non-null   int64
 6   duree              1000 non-null   float64
 7   ms_location        0 non-null      float64
dtypes: float64(2), int64(3), object(3)
memory usage: 62.6+ KB

**Decision :** create the voixsms.csv structure from the VM-SONATEL

In [11]:
df['caller_msisdn'] = df['msisdn']
df['corresp_msisdn'] = df['msisdn'].sample(frac=1).reset_index(drop=True) # Shuffle initial id
df.drop(columns='msisdn', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1000 non-null   int64
 1   traffic_type       1000 non-null   object
 2   traffic_direction  1000 non-null   object
 3   call_date          1000 non-null   int64
 4   call_time          1000 non-null   int64
 5   duree              1000 non-null   float64
 6   ms_location        0 non-null      float64
 7   caller_msisdn      1000 non-null   object
 8   corresp_msisdn     1000 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 70.4+ KB

In [12]:
df.to_csv('../data/voix_sms/voixsms-v02.csv')